{
  "presets": [
    [
      "@babel/preset-env",
      {
        "bugfixes": true
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "automatic",
      }
    ],
    "@babel/preset-typescript",
    "atomic-router/babel-preset"
  ],
  "plugins": [
    "@loadable/babel-plugin",
    [
      "effector/babel-plugin",
      {
        "addLoc": true,
        "reactSsr": true
      }
    ]
  ],
  "ignore": [
    "node_modules",
    "build"
  ]
}